<!-- partial for displaying the form to allow user to add a task -->
<!--Create of CRUD for tasks -->

<h3>Add Task</h3>
<!--adding a task form with input fields for box qty(int), 
created(timestamp), delivery slot(datetime) -->
<!--input fields styled with 'form-control' -->
<!--button styled with 'btn btn-default' -->
<%= form_for([@project, @project.tasks.build]) do |f| %>
    <p>
        <%= f.label :boxqty, "Box Quantity" %><br> 
        <%= f.text_field(:boxqty, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.label :created, "Created on (eg. May 17 2020 12:00:00)" %><br>
        <%= f.text_field(:created, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.label :deliveryslot, "Delivery Slot (eg. May 19 2020 11:00:00)" %><br>
        <%= f.text_field(:deliveryslot, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit({:class => 'btn btn-success'}) %>
    </p>
<% end %>