<!-- edit project page -->
<!-- Update of CRUD for projects -->

<h1>Edit Projects</h1>
<!-- form to edit a project -->
<!-- form with 3 field inputs, name, season and category -->
<!-- form text fields styled with 'form-control' -->
<%= form_for :project, url: project_path(@project), method: :patch do |f| %>
    <%if @project.errors.any? %>
        <% @project.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
        <% end %>
     <% end %>
    <p>
        <%= f.label :name, "Project Name: " %><br>
        <%= f.text_field(:name, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :season, "Seasonal Produce: " %><br>
        <%= f.text_field(:season, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :category, "Category: " %><br>
        <%= f.text_field(:category, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.submit({:class => 'btn btn-success'}) %>
    </p>
<% end %>