<!-- adding a new project page -->
<!-- Create of CRUD for projects-->

<h1>Add Projects</h1>
<!-- form to add/create a new project -->
<!-- if statement - to loop through messages and wrap messages in an alert div -->
<%= form_for :project, url: projects_path do |f| %>
    <%if @project.errors.any? %>
        <% @project.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
        <% end %>
     <% end %>
    <p>
        <%= f.label :name, "Project Name: " %><br>
        <%= f.text_field(:name, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :season, "Seasonal produce: " %><br>
        <%= f.text_field(:season, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :category, "Category: " %><br>
        <%= f.text_field(:category, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.submit({:class => 'btn btn-success'}) %>
    </p>
<% end %>