<!--show view -->
<!--shows the result a project -->
<!--Read, Edit and Delete of CRUD for projects -->

<h2><%= @project.name %></h2>
<p><%= @project.season %></p>
<p><%= @project.category %></p>

<hr>


<!--Edit button - to link to the edit page (edit.htmll.erb) 
to edit the project -->
<%= link_to "Edit", edit_project_path(@project), :class => 'btn btn-default' %>

<!--Delete button - with a delete confirmation dialog box warning when delete is activated -->
<%= link_to "Delete", project_path(@project), 
            method: :delete,
            data: {confirm: 'Are you sure?'},
            :class => 'btn btn-default' %>

<hr>

<!--links to partial views (to read code from partial files _comments and _form under tasks) -->
<%= render 'tasks/tasks' %>
<%= render 'tasks/form' %>
