<!--show view -->
<!--Read, Edit and Delete of CRUD for projects -->

<h2><%= @project.name %></h2>
<p><strong>Seasonal Produce: </strong><%= @project.season %></p>
<p><strong>Category: </strong><%= @project.category %></p>

<hr>


<!--Edit button - to link to the Edit Project Views -->
<%= link_to "Edit", edit_project_path(@project), :class => 'btn btn-success' %>

<!--Delete button -->
<!--contains a delete confirmation dialog box warning when delete is selected -->
<%= link_to "Delete", project_path(@project), 
            method: :delete,
            data: {confirm: 'Are you sure?'},
            :class => 'btn btn-danger' %>

<hr>

<!--links to Task Partial Views (to read the partial files '_tasks' and '_form') -->
<%= render 'tasks/tasks' %>
<%= render 'tasks/form' %>
